<%- include("partials/header.ejs") %>

    <div class="about-us">

        <div class="main-img">
            <!-- <img src="../public/images/vipasna.jpg" alt="vipasna-img" class="img-1"> -->
        </div>

        <div class="about-para">
            <h2 class="sub-head">About Us: Embracing the Journey of Spirituality</h2>
            <p class="lead about-description">Welcome to our sacred space, where the timeless wisdom of Hinduism and
                Buddhism converges to inspire and uplift your spiritual journey. Our mission is to create a haven for
                seekers, practitioners, and the spiritually curious to explore, connect, and grow in their understanding
                of life’s deeper meaning.</p>
        </div>

        <div class="second-para">
            <h2 class="second-head">Who We Are</h2>
            <p class="lead about-description">We are a collective of spiritual enthusiasts, scholars, and practitioners
                who have come together to celebrate the rich traditions of Hinduism and Buddhism. Rooted in ancient
                teachings, yet ever-evolving, our platform bridges the gap between traditional wisdom and modern life.
                Whether you are seeking enlightenment, inner peace, or a greater sense of purpose, we aim to provide
                tools, resources, and a supportive community to help you along the way.</p>
        </div>

        <div class="our-philosophy">
            <h2 class="Philosophy-section">
                Our Philosophy
            </h2>
            <div class="Philosophy-para">
                <p class="lead philosophy-desc">
                    Spirituality is a journey, not a destination. Inspired by the teachings of the Vedas, Upanishads,
                    and the Eightfold Path of Buddhism, we believe in fostering:

                </p>

                <ul class="philosophy-ul">
                    <li>Self-Realization: Understanding one’s true nature and purpose through introspection and meditation.</li>
                    <li>Compassion: Cultivating kindness and empathy for all beings, as reflected in the principles of ahimsa (non-violence) and karuna (compassion).</li>
                    <li>Mindfulness: Living in the present moment, as taught in the practices of dhyana (meditation) and vipassana.</li>
                    <li>Interconnection: Recognizing the oneness of existence and the interdependence of all life.</li>
                </ul>
            </div>
        </div>
    </div>

    <%- include("partials/footer.ejs") %>