<%- include("partials/header.ejs") %>

<div class="row Patanjali-blog featurette">

  <div class="col-md-5">
   
    <div class="col-md-5">
      <div class="bd-placeholder-img featurette-image img-fluid mx-auto custom-bg yoga-sec">
          
      </div>
  </div>
  
  </div>


  <div class="col-md-7 yoga-blog-margin">
    <h2 class="featurette-heading fw-normal lh-1">Yoga</h2> -->
  
    <!-- <p class="lead yoga-blog-para">
      The Yoga Sutras of Patañjali (IAST: Patañjali yoga-sūtras) is a collection of Sanskrit sutras (aphorisms) on the
      theory and practice of yoga – 195 sutras (according to Vyāsa and Krishnamacharya) and 196 sutras (according to
      others, including BKS Iyengar). The Yoga Sutras were compiled in the early centuries CE, by the sage Patanjali in
      India who synthesized and organized knowledge about yoga from much older traditions.[1][2][3]

      The Yoga Sutras is best known for its reference to ashtanga, eight elements of practice culminating in samadhi.
      The eight elements are yama (abstinences), niyama (observances), asana (yoga posture), pranayama (breath control),
      pratyahara (withdrawal of the senses), dharana (concentration of the mind), dhyana (meditation) and samadhi
      (absorption or stillness). The main aim of practice is kaivalya, discernment of purusha, the
      witness-consciousness, as distinct from prakriti, the cognitive apparatus, and disentanglement of purusha from
      prakriti's muddled defilements.
    </p>

  </div>

</div>

<div class="row Patanjali-blog featurette">

  <div class="col-md-5">
   
    <div class="col-md-5">
      <div class="bd-placeholder-img featurette-image img-fluid mx-auto custom-bg jnan-sec">
          
      </div>
      
  </div>
  
  </div>


  <div class="col-md-7 yoga-blog-margin">
    <h2 class="featurette-heading fw-normal lh-1">Yoga</h2>
    <p class="lead yoga-blog-para">
      The Yoga Sutras of Patañjali (IAST: Patañjali yoga-sūtras) is a collection of Sanskrit sutras (aphorisms) on the
      theory and practice of yoga – 195 sutras (according to Vyāsa and Krishnamacharya) and 196 sutras (according to
      others, including BKS Iyengar). The Yoga Sutras were compiled in the early centuries CE, by the sage Patanjali in
      India who synthesized and organized knowledge about yoga from much older traditions.[1][2][3]

      The Yoga Sutras is best known for its reference to ashtanga, eight elements of practice culminating in samadhi.
      The eight elements are yama (abstinences), niyama (observances), asana (yoga posture), pranayama (breath control),
      pratyahara (withdrawal of the senses), dharana (concentration of the mind), dhyana (meditation) and samadhi
      (absorption or stillness). The main aim of practice is kaivalya, discernment of purusha, the
      witness-consciousness, as distinct from prakriti, the cognitive apparatus, and disentanglement of purusha from
      prakriti's muddled defilements.
    </p>

  </div>

</div>

<div class="row Patanjali-blog featurette">

  <div class="col-md-5">
   
    <div class="col-md-5">
      <div class="bd-placeholder-img featurette-image img-fluid mx-auto custom-bg bhakti-sec">
          
      </div>
      
  </div>
  
  </div>


  <div class="col-md-7 yoga-blog-margin">
    <h2 class="featurette-heading fw-normal lh-1">Yoga</h2>
    <p class="lead yoga-blog-para">
      The Yoga Sutras of Patañjali (IAST: Patañjali yoga-sūtras) is a collection of Sanskrit sutras (aphorisms) on the
      theory and practice of yoga – 195 sutras (according to Vyāsa and Krishnamacharya) and 196 sutras (according to
      others, including BKS Iyengar). The Yoga Sutras were compiled in the early centuries CE, by the sage Patanjali in
      India who synthesized and organized knowledge about yoga from much older traditions.[1][2][3]

      The Yoga Sutras is best known for its reference to ashtanga, eight elements of practice culminating in samadhi.
      The eight elements are yama (abstinences), niyama (observances), asana (yoga posture), pranayama (breath control),
      pratyahara (withdrawal of the senses), dharana (concentration of the mind), dhyana (meditation) and samadhi
      (absorption or stillness). The main aim of practice is kaivalya, discernment of purusha, the
      witness-consciousness, as distinct from prakriti, the cognitive apparatus, and disentanglement of purusha from
      prakriti's muddled defilements.
    </p>

  </div>

</div>

<%- include("partials/footer.ejs") %>

